.form-group{
    margin-bottom: 1rem;
}

.botonera{
    height: 42vh;
}

.botonera-fila{
    margin-top: 13vh;
    height: 20vh;
    max-height: 150px;
}

.botonera-celda{
    padding: 0 !important;
}

.botonera-boton{
    width: 20vh;
    max-width: 150px;
    height: 100%;
    min-width: fit-content;
    font-weight: bold;
}

.dropdown-menu{
    top: 115% !important;
    left: auto !important;
    right: -6%;
    padding: 0;
}
.btn-block{
    display: block;
    width: 100%;
}

.mb4, .my4{
    margin-bottom: 1.5rem !important;
}

label{
    display: inline-block;
    margin-bottom: 0.5rem;
}

input::placeholder{
    opacity: 0.4 !important;
}

.loadingOverlay{
    z-index: 1050;
}

.navbar{
    justify-content: right;
    height: 12vh;
    min-height: 80px;
}

.nav-item{
    margin-left: 0.5em;
    margin-right: 0.6em;
}

.avatar-img{
    width: 4em;
    height: 4em;
    object-fit: cover;
}
.avatar-xl img {
    width: 170px; 
    height: 170px;
}

.img-logo{
    min-height: 50px;
    height: 9vh;
    max-height: 78px;
    float: left;
    margin-right: 0;
    
}

body{
    height: 100vh;
}
footer{
    position: fixed;
    bottom: 1vh;
    left: 1vh;
}